/* Local OFL fonts (Google Fonts subsets). Licence and copyright: OFL.txt in this folder.
   Families:
     'Noto Sans Hebrew'  100..900, width axis 62.5%..100% (font-stretch)   Hebrew hero type
     Rubik               300..900                                           Hebrew UI text, labels
     Heebo               100..900                                           Hebrew UI text, alternative
     Archivo             100..900, width axis 62%..125%                     Latin display
     'JetBrains Mono'    400..800                                           Latin technical labels only (no Hebrew glyphs)
     'Amatic SC'         400, 700                                           hand lettering, Hebrew and Latin */
@font-face {
  font-family: 'Noto Sans Hebrew'; font-style: normal; font-weight: 100 900; font-stretch: 62.5% 100%; font-display: block;
  src: url(noto-sans-hebrew-hebrew-100-900.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Noto Sans Hebrew'; font-style: normal; font-weight: 100 900; font-stretch: 62.5% 100%; font-display: block;
  src: url(noto-sans-hebrew-latin-100-900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik'; font-style: normal; font-weight: 300 900; font-display: block;
  src: url(rubik-hebrew-300-900.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Rubik'; font-style: normal; font-weight: 300 900; font-display: block;
  src: url(rubik-latin-300-900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2212;
}
@font-face {
  font-family: 'Heebo'; font-style: normal; font-weight: 100 900; font-display: block;
  src: url(heebo-hebrew-100-900.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Heebo'; font-style: normal; font-weight: 100 900; font-display: block;
  src: url(heebo-latin-100-900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Archivo'; font-style: normal; font-weight: 100 900; font-stretch: 62% 125%; font-display: block;
  src: url(archivo-latin-100-900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'JetBrains Mono'; font-style: normal; font-weight: 400 800; font-display: block;
  src: url(jetbrains-mono-latin-400-800.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Amatic SC'; font-style: normal; font-weight: 400; font-display: block;
  src: url(amatic-sc-hebrew-400.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Amatic SC'; font-style: normal; font-weight: 400; font-display: block;
  src: url(amatic-sc-latin-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Amatic SC'; font-style: normal; font-weight: 700; font-display: block;
  src: url(amatic-sc-hebrew-700.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
  font-family: 'Amatic SC'; font-style: normal; font-weight: 700; font-display: block;
  src: url(amatic-sc-latin-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
